.conversation {
    border: solid;
    border-width: 1px;
    border-width: 1px;
    font-size: 16px;
    height: auto;
    padding: 0px 25px 0px 25px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.tweet {
    &:first-child {
        border-top: none;
    }
    border-top: dashed;
    border-width: 1px;
    padding: 20px 10px 20px 10px;

    hr { 
        margin: 10px 20px 10px 20px;
    }

    img { 
        margin-left: 20px;
        display: inline; 
        border-width: 1px;
        &:hover {
            opacity: 0.8;
        }
    }

    a:hover, a:focus {
        text-decoration: none;
    }
}
